@model DataBase_Nhom2.Models.ChucVu

@{
    ViewBag.Title = "Thêm chức vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Chức Vụ Trong Công Ty</h2>


@using (Html.BeginForm("AddLevel", "Level", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label">Đặt mã cho chức vụ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.maChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Tên chức vụ muốn thêm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success mt-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Level")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}