@model IEnumerable<DataBase_Nhom2.Models.PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phòng ban</h2>

<p>
    @Html.ActionLink("Thêm Phòng Ban", "AddRole")
</p>
<table class="table mt-2">
    <tr>
        <th>
           Mã Phòng
        </th>
        <th>
            Tên Phòng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenPhong)
        </td>
        <td>
            @Html.ActionLink("Sửa", "EditRole", new { id=item.maPhong}) |
            @Html.ActionLink("Xóa", "DeleteRole", new {  id=item.maPhong })
        </td>
    </tr>
}

</table>
